.order{
   margin-top: 72px ;
}
input[type="date"]::before { 
    content: attr(data-placeholder);
    width: 100%;
}
input[type="date"]:focus::before,
input[type="date"]:valid::before { display: none }

input[type="datetime-local"]::before { 
    content: attr(data-placeholder);
    width: 100%;
}
input[type="datetime-local"]:focus::before,
input[type="datetime-local"]:valid::before { display: none }

.order-container{
    max-width: 900px;
    margin: 0 auto;
}
.margin_left-rigth{
    margin: 0 100px !important;
}
.order-container h2{
    color: #f6921e !important;
    font-weight: 400!important;
    font-size: 29px;
    text-align: center;
    padding: 20px;
}
.order-container p{
    text-align: center;
    font-size: 15px;
    font-style: italic;
}
/* form{  
    margin: 0 100px; 
} */
.form-container-raidio{
    display: flex;

}
.form-container{
    margin: 0 50px;
    padding: 40px 20px;
}
.form-container div{
    padding: 10px 0;
}
.form-container .btn-order{
    background-color: rgb(26, 235, 235);
}
.form-container .btn-order input{
    border: none;
    background-color: transparent;
}
.form-container-text input{
    padding: 10px;
    width: 48%;
    border: 1px solid rgb(49, 50, 51);
    outline: none;
    background-color: transparent;
}
.form-container-text2 input{
    padding: 10px;
    width: 100%;
    border: 1px solid rgb(49, 50, 51);
    outline: none;
    background-color: transparent;
}
.form-container-text{
    display: flex;
    justify-content: space-between;
    
}
.form-container textarea{
    padding: 9px;
    width: 100%;
    border: 1px solid rgb(49, 50, 51);
    outline: none;
    background-color: transparent;
}
.btn_order input{
    font-size: 12px;
    text-align: center;
    font-weight: 600;
    padding: 10px;
    outline: none;
    border: none;
    color: rgb(255, 254, 253);
    background-color:rgb(236, 41, 41);
}
.btn_order input:hover{
    transform: translateY(-2px);
    transition: 0.3s;
}
.form-container-raidio_items{
    display: flex;
    margin-right: 20px;
}
.form-container-raidio_items >label{
 margin-left: 6px;
 padding: 0;
}