* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

html {
    font-size: 62.5%;
}
.margin-rigth-20px{
    margin-right: 3rem;
}
.wrapper {
    height: 100vh;
    background-color: #f8f8f8;
}

.header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 8rem;
    background-color: #666666;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0 20px rgba(89, 102, 122, 0.1);
    z-index: 2;
}

.container_logo-name {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 90px;
}

.header_img-logo {
    width: 50px; /* Adjust the width as needed */
}

.header_text-desc {
    font-size: 2rem;
    color: #fff;
}

.container_notice-search {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    margin-right: 20px;
    color: #fff;
    font-weight: 100;
    line-height: 24px;
}

.search,
.notice,
.detail {
    font-size: 1.4rem;
    margin-right: 20px; /* Adjust the margin as needed */
}
.detail span{
    margin-right: 10px; 
}

.container {
    display: flex;
    margin-top: 2rem;
    height: 100vh;
}

.navigation {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 30rem; /* Adjust the width as needed */
    background-color: #ffffff;
    padding: 11rem 10px 0 10px;
    overflow-y: scroll;
    box-shadow: 0 0 20px rgba(89, 102, 122, 0.1);
    z-index: 1;
}
::-webkit-scrollbar {
    width: 15px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: transparent;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
  }
.navigation_menu-list-item{
    text-align: left;
    list-style: none;
    border-radius: 10px;
    padding: 0 20px;
}
.navigation_menu-list-item:hover 
,.navigation_menu-list-item:hover .navigation_menu-links,
.navigation_menu-list-item:hover .navigation_menu-links i{
   background-color: #f8f8f8;
   color: #7366ff;
}
.navigation_menu-links{
    width: 100%;
    color: #7f7184;
    font-family: Rubik, sans-serif;
    font-weight: 500;
    font-size: 1.6rem;
    text-decoration: none;
    line-height: 5rem;
    display: block;
    text-transform: capitalize;
}

.navigation_menu-links i {
    font-size: 15px;
    display: inline-block;
    vertical-align: middle;
    padding: 0 1.5rem 0 0;
    position: relative;
    top: 0;
    color: #aa97b0;
    width: 40px;
}
.navigation_img{
 margin: 2rem 3rem 8rem 3rem;
}
.navigation_img-link ,
.navigation_img-link p{
  font-size: 2rem;
  text-decoration: none;
  font-family: Rubik, sans-serif;
  text-align: center;
}
.navigation_setting-logout{
    width: 100%;
     display: flex;
     align-items: center;
     justify-content: space-around;
}
.navigation_setting-logout-links{
     padding: 10px;
     font-size: 2rem;
     color: #7f7184;
     text-decoration: none;
     display: block;
}
.navigation_setting-logout-links i {
     padding-right:8px ;
}
    .navigation_setting-logout-links:hover{
    color: #7366ff;
}
.content {
    height: 100vh;
    flex: 3; 
    background-color: #f8f8f8;
    border-top-left-radius: 60px;
    margin-top: 8rem; 
    margin-left: 30rem;
}

/* Trong tệp CSS của bạn */
#doctor-list-container{
    background-color: #ffff;
    box-shadow: 0 0 20px rgba(89, 102, 122, 0.1);
    padding: 2rem;
    margin-left: 2rem;
}
.content_addbtn{
 display: flex;
 align-items: center;
 justify-content: flex-end;
}
.content_addbtn >a{
 text-decoration: none;
 font-size: 1.4rem;
 color: #fff;
 padding: 8px 12px;
 background-color: #7366ff;
 margin:12px 10px 0 0;
 font-family: Rubik, sans-serif;
 text-transform: capitalize;
 border-radius: 6px;
}
.doctor-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    font-family: Rubik, sans-serif;
}

.doctor-table th, .doctor-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    font-size: 1.3rem;
}

.doctor-table th {
    background-color: #f2f2f2;
}
/* modal add doctor */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #ffffff;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
    border-radius: 1rem;
}
.modal-content_title{
    text-align: center;
    font-size: 1.8rem;
    padding: 10px;
}
.form_add-doctor > label{
    font-size: 1.4rem;
    font-weight: 600;
}
.form_add-doctor > input{
    width: 100%;
    padding: 6px 12px;
    outline: none;
    margin: 0.2rem 0 2rem 0;
}
 /* .btnAddoctor{
   border: none;
   padding: 10px 14px;
   background-color: #7366ff;
   color: #fff;
   box-shadow: 0 0 20px rgba(89, 102, 122, 0.4);
   border-radius: 6px;
} */
.Form_Success{
   font-size: 1.6rem;
   color: rgb(150, 111, 13);
   margin-left: 1rem;
}
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
    
}

